@charset "UTF-8";

@font-face {
  font-family: "gmarket";
  src: url("../font/GmarketSansTTFMedium.ttf");
}
@font-face {
  font-family: "gmarket bold";
  src: url("../font/GmarketSansTTFBold.ttf");
}
@font-face {
  font-family: "gmarket light";
  src: url("../font/GmarketSansTTFLight.ttf");
}


	body{
		font-family: 'Noto Sans KR', sans-serif;
	}
	.container-fluid{
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.header{
		width: 100%;
		position: fixed;
		background: white;
		border-bottom: 1px solid #CECECE;
		z-index: 99;
	}
	.body{
		padding-top: 127px;
		z-index: 0;
		padding-bottom:127px;
	}
	.footer{
		background:black;
		color:white;
		height:300px;
		padding:50px;
	}
	.hMenuDiv{
		text-align:le;
		margin:auto;
		font-size: 12px;
	}
	.hMenuDiv a{
		margin-left:3px;
		margin-right:3px;
	}
	.hSearchDiv{
		margin-top:25px;
		text-align: center;		
	}
	.hSearchBar{
		border: none;
		width:50%;
		border-bottom: 2px solid black;
		padding: 5px 10px;
		font-size: 15px;
	}
	.hSearchBar:focus{
		outline: none;
	}
	.hSearchBtn{
		background:none;
		border:0px;
	}
	.hCateBar{
		padding-bottom: 10px;
	}
	.hCateBtn {
		background: none;
		border: none;
		margin: 0px 35px;
		padding-bottom: 4px;
	}
	.notice{
		padding-left:20px;
		text-align:left;
		font-size:14px;
		letter-spacing:-1px;
		color: red;
	}
	.smallIcon{
		font-size: 15px;
	}
	.middleIcon{
		font-size: 24px;
		color: black;
	}
	.submitIconBtn{
		background: none;
		border: none;

	}
	.hCateBtn:hover{
		padding-bottom: 2px;
		border-bottom: 2px solid red;
	}
	.hCateDiv{
		margin-top:20px;
		padding-top:20px;
		padding-left:200px;
		padding-right:200px;
		padding-bottom:40px;
		display:none;
		font-size: 13px;
		display:none;
		height:400px;
		border-bottom: 1px solid #CECECE;
	}
	.hCateInDiv{
		display:block;
		float:left;
		width:15%;
		height:300px;
		padding-left:20px;
		padding-right:20px;
		text-decoration: none;
	}
	.hCateInDiv:not(:nth-child(2)) li:not(:first-child){
	 	text-decoration: line-through;
	}
	.hCateInDiv:not(:nth-child(2)) li:not(:first-child) a{
		cursor:default;
	}
	.hCateInDiv:not(:last-child){
		border-right: 1px solid #CECECE;
	}
	.hCateDiv a:hover, .seeMore:hover, .path a:hover {
		color:#BC4747;
		text-decoration: none;
	}
	.clear{
		clear:both;
	}
	.header ul{
   		list-style:none;
   		padding-left:0px;
	}
	.header .li{
		margin-bottom:5px; 
	}
	.slideArrBtn{
		width:50px;
		z-index: 0;
	}
	.seeAll{
		font-size: 18px;
		padding-bottom: 10px; 
	}
	.mainBestBrand, .mainBestSeller, .mainReview{
		text-align:center;
		padding:5%;
	}
	.mainBestBrand p, .mainBestSeller p, .mainReview p{
		font-weight: 800;
		text-align:left;
		font-size:24px;
		margin-bottom: 15px;
	}
	.imgDivWrap{
		margin-top: 20px;
		padding: 20px;
	}
	.imgDiv{
		margin:10px;
		display:inline;
		position:relative;
	}
	.imgDiv div{
		display:inline-block;
	}
	.imgDiv img{
		filter:brightness(50%);
	}
	.imgFont{
		font-size:30px;
		color:white;
		position:absolute;
		text-align: center;
		z-index: 1;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
	.imgsubFont{
		color:white;
		position:absolute;
		text-align: center;
		z-index: 1;
		top:150%;
		left:50%;
		font-size:16px;
		font-weight:400;
		transform: translateX(-50%);
		width:100%;
	}
	.bestSellerWrap{
		text-align: center;
		padding:20xp;
	}
	.bestSellerWrap a:hover{
		text-decoration: none;
		color:black;
	}
	.bestSellerWrap a{
		float:left;
		width:240px;
		height:320px;
		margin:2%;
		color:black;
	}
	@media (max-width:1536px){
	.bestSellerWrap a{
			margin:1%;
		}
	}
	
	.mainProduct img{
		border: 1px solid rgba(234, 234, 234, 0.5);
		width:250px;
		height:250px;
	}
	.mainProductText{
		text-align:left;
	}
	.prodName{
		font-size:14px;
		color:grey;
	}
	.prodPrice{
	    margin-top: 10px;
 		font-family: "gmarket";
	}
	.saleBanner{
		margin-top: 20px;
	}
	.seeMore{
		font-size: 16px;
	}
	.mainReview{
		background: #EBEBEB;
	}
    .swiper {
    	overflow:visible;
      	width: 100%;
      	height: 400px;
    }
    .swiper-slide {
    	display:inline-block;
      	font-size: 18px;
      	background: white;
      	width:250px !important;
    }
    .swiper-slide img {
      	width: 100%;
      	height: 300px;
    }
	.nav{
		padding-top:30px;
		float:left;
		width:20%;
		
	}
	.prodList{
		padding-right:130px;
		float:right;
		width:80%;
		height:100%;
	}
	.prodcategory{
		margin-bottom:50px;
		text-align:center;
	}
	.prodcategory a {
		font-size:18px;
		color:black;
		text-decoration:none;
	}
	.prodcategory a:not(:last-child):after{
		margin:30px;
		content:"";
		border-right: 1px solid #CECECE;
	}
	.prodcategory span:hover {
		text-decoration:none;
		padding-bottom: 2px;
		border-bottom: 2px solid red;
	}
	.prodListWrap{
		margin:10px;
		padding-top:20px;
	}
	.pagingOptions{
		padding:0px 8px;
		margin-top: 15px;
		margin-bottom:40px;
		border-bottom: 2px solid black;
	}
	.pagingOptions select{
		font-size:14px;
		padding:0px 5px;
		padding-bottom:5px;
		width:150px;
		border:none;
		margin-left:30px;
		float:right;
		text-align:left;	
	}
	.pagingOptions select:focus{
		outline: none;
	}
	.pagingOptions span{
		font-size:14px;
	}
	.prodCount{
	    font-weight: 800;
		font-family:"gmarket";
		font-size:16px;
		color:red;
	}
	.paging{
		margin-top:80px;
		text-align:center;
	}
	.path{
	    padding-bottom: 30px;
		font-size:14px;
	}
	.prodList h3{
		font-weight:800;
		text-align: center;
		margin-bottom:20px;
	}
	.filter{
		border-bottom:1px solid #CECECE;
		font-size:16px;
		margin-top:16px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:40px;
		margin-right:50px;
		width:100%;
		height:30px;
	}
	.filterTitle{
		padding-left:10px;
		font-weight:800;
		font-size:20px;
		border-bottom:3px solid black;
		padding-bottom:45px;
	}
	.filterShowBtn{
		color:grey;
		float:right;
		text-align: right;
		border:none;
		outline: none;
		background:none;
	}
	.filterWrap{
		width:100%;
		padding-right:20px;
		padding-left:20px;
		padding-top:10px;
		padding-bottom:50px;
		border:1px solid #CECECE;
		border-bottom:none;
		width:90%;
	}
	.filterBtns{
		padding:0px;
		margin:0px;
		width:90%;
		text-align: center;
		border:1px solid #CECECE;
	}
	.filterBtn{
		width:49%;
		border-radius: 0px;
	}
	
	.innFilter{
		font-size:14px;
		color:grey;
		display:block;
		padding-top:0px;
		padding-left:30px;
		padding-right:30px;
		padding-bottom:16px;
	}
	.hide{
		display:none;
	}
	table{
		width:100%;
		height:100%;
	}
	
	.prodWrap{
		padding:0px 30px;
	}
	.prod{
		margin-bottom:30px;
		display:inline-block;
	}
	@media (min-width:1681px) {
		.prod{
			margin:20px;
			margin-bottom:30px;
		}
	}
	
	.prod img{
		border: 1px solid rgba(234, 234, 234, 0.5);
		width:236px;
	}
	.prodBrand{
		margin-bottom:5px;
	    font-weight: 800;
	    color: black;
	}
	.prod a{
		color:black;
	}
	.prod a:hover{
		text-decoration: none;
	}
	.prodDisRate{
	    color: red;
    	font-size: 12px;
	}
	.faint{
		text-decoration: line-through;
		color:grey;
	}
	.prodSalePrice{
		color:red;
	}
	.prodText{
		padding:10px;
	}
	.filterElement{
		margin:5px 0px;
	}
	.filterElement label, .details label{
		cursor:pointer;
	}
	.filterElement input[type="checkbox"]{
		display:none;
	}
	.filterElement input[type="checkbox"]:checked + span {
		color:red;
	}
	.brandFilterElement.filterElement input[type="checkbox"]:checked + span:after{
		font-family: 'Font Awesome\ 5 Free';
		content:' \f00c';
		font-weight: 900;
	}
	.textCenter{
		text-align: center;
	}
	.textLeft{
		text-align:left;
	}
	.sizeFilterElement span{
		padding:2px 12px;
		border:1px solid #CECECE;
	}
	.sizeFilterElement input[type="checkbox"]:checked + span {
		border:1px solid red;
	}
	.fullPerWidth{
		width:100%;
	}
	.colorFilterElement label{
		margin:5px;
		width:22px;
		height:22px;
	} 
	.colorFilterElement span{
		display:inline-block;
		width:22px;
		height:22px;
		border:1px solid black;
	} 
	.colorFilterElement input[type="checkbox"]:checked + span{
		box-shadow:3px 3px 3px grey;
	}
	.PriceFilterElement{
		padding-left:0px;
		padding-right:0px;
	}
	.middle {
	  position: relative;
	  width: 100%;
	}	
	.slider {
	  position: relative;
	  z-index: 1;
	  height: 10px;
	}
	.slide a {
		cursor:default;
	}
	.slider > .track {
		position: absolute;
		z-index: 1;
		height:3px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border-radius: 5px;
		background-color: #CECECE;
	}
	.slider > .range {
		position: absolute;
		z-index: 2;
		height:3px;
		right:0%;
		left:0%;
		top: 0;
		bottom: 0;
		border-radius: 5px;
		background-color: red;
	}
	.slider > .thumb {
		display: flex;
		position: absolute;
		z-index: 3; 
		width: 12px;
		height: 12px;
		background-color: red;
		border-radius: 50%;
	}
	.inThumb{
		background:white;
		width:8px;
		height:8px;
		margin:auto;
		border-radius: 100%;
	}
	.slider > .thumb.left {
		left:0%;
		transform: translate(-7px, -4px);
	}
	.slider > .thumb.right {
		right:0%;
		transform: translate(9px, -4px);
	}
	input[type="range"] {
		position: absolute;
		 /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
		 pointer-events: none;
		 -webkit-appearance: none;
		 z-index: 2;
		 height: 10px;
		 width: 100%;
		 opacity: 0;
	} 
	input[type="range"]::-webkit-slider-thumb { 
	/* 겹쳐진 두 thumb를 모두 활성화 */ 
		pointer-events: all;
		width: 30px; 
		height: 30px;
		border-radius: 0;
		border: 0 none;
		background-color: red;
		cursor: pointer;
		/* appearance를 해야 위의 스타일들을 볼 수 있음 */ 
		-webkit-appearance: none;
	}
	.sliderPrice{
		margin-top:10px;
		position: relative;
	}
	.sliderLeftPrice, .sliderLeftPrice + span, .sliderRightPrice {
		font-size:13px;
		font-family: "gmarket";
		color:red;
		font-weight:800;
	}
	.prodWrap table td{
		display: inline-block;
	}

	.paging a {
	  margin:1px;
	  color: black;
	  padding: 8px 16px;
	  text-decoration: none;
	  transition: background-color .3s;
	}
	
	.paging a.active {
	  background-color: grey;
	  color: white;
	}
	
	.paging a:hover:not(.active) {background-color: #ddd;}
	
	.noProdList{
		text-align:center;
		margin:120px auto;
		padding-top:100px;
		display:block;
	    background: url(../images/noProdList.png) no-repeat top center;
	    font-size: 20px;
	    letter-spacing: -1px;
	    font-weight: 800;
	}
	
	.prodDetailWrap, .cartWrap{
		margin-top:30px;
		margin-left:200px;
		margin-right:200px;
	}
	
	@media (min-width:1681px) {
		.prodDetailWrap, .cartWrap{
			margin-left:300px;
			margin-right:300px;
		}
	}
	
	.detailsLeft{
		float:left;
		width:49%;
	}
	.detailsRight{
		padding-left:20px;
		float:right;
		width:49%;
	}
	.bigImage img{
		width:100%;
	}
	.detailsHeader .brand{
	    font-size: 16px;
	    color: #000;
	    font-weight: 700;
	}
	.detailsHeader .brand a{
		border-bottom: 1px solid black;
		color:black;
	} 
	.detailsHeader .brand a:hover{
		text-decoration: none;
		
	} 
	.detailsHeader .pnameKor{
	    margin-top: 6px;
	    font-size: 30px;
	    letter-spacing: -.8px;
	    color: #000;
	    font-weight: 700;
	    line-height: 39px;
	}
	.detailsHeader .pnameEng{
	    margin-top: 6px;
	    font-size: 16px;
	    font-family: "Montserrat",sans-serif;
	    line-height: 22px;
	    color: #666;
	}
	.detailsRight .codes{
		padding-top:10px;
	    font-size: 13px;
	    color: #999;
	}
	.detailsRight .codes .stylecode, .detailsRight .codes .serial{
		display:inline-block;
	}
	.detailsRight .codes .stylecode:after{
		margin:10px;
		content:"";
		border-right: 1px solid #CECECE;
	}
	.price{
		margin-top:15px;
		margin-bottom:15px;
		font-family: "gmarket";
	}
	.detailsHeader .prodDisRate{
		font-size:15px;
	}
	.details table{
		font-size:14px;
		line-height: 3rem;
	}
	.details td input[type="checkbox"] + span {
		font-size:14px;
		color:grey;
		font-family:"gmarket";
		border:1px solid grey;
		padding:2px 12px;
	}
	.details td input[type="checkbox"]:checked + span {
		color:black;
		border:1px solid red;
	}
	.details td input[type="checkbox"]{
		display:none;
	}
	.details td:first-child, .details th:first-child{
		padding-left:10px;
	}
	.lastPrice{
		font-size:26px;
	}
	.details label{
		margin:0px;
	}
	.details table th img{
		width:48px;
	}
	.details table th {
		font-weight:100;
		border-bottom:1px solid #CECECE;
		padding-bottom:10px;
		padding-top:10px;
	}
	.details .tableDiv{
		border-top:2px solid black;
		padding-bottom:30px;
		border-bottom:1px solid #CECECE;
	}
	.addedStock{
		display:flex;
		justify-content:space-between;
		align-items:center;
	    font-size: 14px;
	    padding: 20px 20px 20px 20px;
	    border-bottom: 1px solid #CECECE;
	    font-family: "gmarket light";
	    font-weight: 600;
	    color: grey;
	}
	.addedStock input[type="number"]{
		border:none;
		width:30px;
		text-align:center;
	}
	.addedStock input[type=number]::-webkit-inner-spin-button, 
	.addedStock input[type=number]::-webkit-outer-spin-button { 
		 -webkit-appearance: none; 
	}
	.addedStock button{
		border:none;
	}
	
	.inline-block{
		display:inline-block;
	}
	.border-grey-right{
		border:1px solid #CECECE;
	}
	.padding-5all{
		padding:5px;
	}
	.tableDiv button{
		margin:2px 0px;
		padding:0px 12px;
		border:1px solid grey;
		color:grey;
		background: white;
	}
	.tableDiv button:focus{
		border:1px solid red;
		color:black;
	}
	.details .totalPrice{
	    justify-content: space-between;
	    align-items: center;
	    padding: 30px 20px;
	}
	.sums{
	    color: red;
	    font-family: "gmarket";
	    font-size: 34px;
	}
	.sums:after{
		font-size:18px;
		color:black;
		content:'원';
	}
	.flex{
		display: flex;
	}
	.totalPriceBtns {
		padding:10px 0px;
	}
	.totalPriceBtns button{
		height:60px;
		width:100%;
		margin:0px 3px;
	}
	.totalPriceBtns button:first-child{
		border:none;
		background: grey;
		color:white;
	}
	.totalPriceBtns button:last-child{
		background:#111;
		border:none;
		color:white;
	}
	.cartWrap{
		margin-top:100px;
	}
	.cartHeader{
		padding-bottom:20px;
	}
	.cartHeader h2{
		font-weight:800;
		display:inline-block;
		float:left;
	}
	.cartHeader .cartProgress{
		color:#CECECE;
		float:right;
	}
	.cartBody{
		border-top:2px solid black;
	}
	.cartInProgress{
		font-weight:800;
		color:black;
	}
	.cartLoginGroups{
		float:right;
	}
	.cartLoginGroups button:first-child{
	    width: 130px;
	    height: 40px;
	    color: white;
	    background: black;
	}
	.cartLoginGroups button:last-child{
	    width: 130px;
	    height: 40px;
	    color: black;
	    background: white;
	}
	.lightgreyBackground{
		height:40px;
		background:#F2F2F2;
	}
	.cartBody .cartProdList table tr:not(:last-child){
		border-bottom:1px solid grey;
	}
	.cartBody .cartProdList table td img{
		width:100px;
	}
	.cartBody .cartProdList table td {
		vertical-align:middle;
		height:150px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.cartBody .cartProdList table td:first-child div{
		display: inline-block;
		float:left;
	}
	.cartBody .cartProdList table td:first-child div:nth-child(2){
		margin-left:10px;
		height: 100px;
	}
	.cartBody .cartProdList table td:first-child p{
		line-height: normal;
		margin:0px;
		color:grey;
	}
	.cartBody .cartProdList table td:first-child div:nth-child(2) p:first-child{
		color:black;
		font-weight:800;
	}
	
	.cartBody .cartProdList table td:first-child {
		width:30%;
		padding-left: 50px;
	}
	.cartBody .cartProdList table td:nth-child(2) {
		text-align:center;
		width:25%;
	}
	.cartBody .cartProdList table td:nth-child(3) {
		text-align:center;
		width:25%;
	}
	.cartBody .cartProdList table td:nth-child(4) {
		width:20%;
	}
	.cartBody .cartProdList table td:first-child p:not(:first-child){
		font-size:14px;
	}	
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(1) {
		width:84px;
		float:none;
		display:inline-block;
	}
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(2) {
		display:inline-block;
	}
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(2) button{
	    border: 1px solid #CECECE;
	    height: 39px;
	    background: white;
	    font-size: 14px;
	    padding: 0px 10px;
	}
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(1) input {
		text-align:center;
		width:25px;
		border:none;
	}
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(1) input::-webkit-inner-spin-button, 
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(1) input::-webkit-outer-spin-button { 
		 -webkit-appearance: none; 
	}
		
	.cartBody .cartProdList table td:nth-child(2) div:nth-child(1) button {
		border:none;
	}	 	
	.cartBody .cartProdList table td:nth-child(3) {
		font-family: "gmarket";
	}
	.cartBody .cartProdList table td:nth-child(3) p:first-child {
		margin:0px;
	}
	.cartBody .cartProdList table td:nth-child(4) button {
		font-size:14px;
		padding:8px 40px;
		border:1px solid black;
		background:white;
		
	}
	.cartBody .cartTotalPrice table{
		width:100%;
	}
	.cartBody .cartTotalPrice table tr:first-child{
		border-top:3px solid black;
	}
	.cartBody .cartTotalPrice table td div div{
		display:inline-block;
	}
	.cartBody .cartTotalPrice table td{
		padding:30px 20px;
		padding-right:30px;
		width:33%;
		border-bottom:1px solid #CECECE;
	}
	.cartBody .cartTotalPrice table td:not(:last-child){
		border-right:1px solid #CECECE;
	}
	.cartBody .cartTotalPrice table tr:last-child{
		background:#F2F2F2;
	}
	.cartBody .cartTotalPrice table td div{
	    display: flex;
	    justify-content: space-between;
	}
	.cartBody .cartTotalPrice table td div div:nth-child(1){
		margin:auto 0px;
	}
	.cartBody .cartTotalPrice table td div div:nth-child(2){
		font-size:22px;
		font-family:"gmarket";
	}
	.won:after{
		content:'원';
		color:black;
		font-size:14px;
	}
	.cartBody .explane{
		text-align: right;
		font-size: 14px;
		color: lightslategrey;
		margin: 10px;

	}
	
	
	.icon-minus, .icon-result{
		position:relative;
	}
	
	.icon-minus:before{
		position:absolute;
		content:'';
		width:84px;
		clip: rect(0px, 28px, 28px, -22px);
		height:28px;
		margin-top:2px;
		left:-14px;
		background: url(../images/comm_icon_payment.png) no-repeat;
	}
	.icon-result:before{
	    position: absolute;
	    margin-top: 2px;
	    content: '';
	    width: 84px;
	    height: 28px;
	    left: -42px;
	    clip: rect(0px, 56px, 28px, 28px);
	    background: url(
		../images/comm_icon_payment.png) no-repeat;
	}
	.cartFooter{
		margin-top:30px;
	}
	.cartFooter > div:first-child{
		text-align:center;
		padding-bottom:150px;
	}
	.cartFooter > div:nth-child(2),
	.cartFooter > div:nth-child(3)
	{
		display:inline-block;
	}
	.cartFooter > div:nth-child(3){
	}
	.cartFooter > div:nth-child(2) > span{
	    border-bottom: 2px solid black;
	    display: block;
	    padding-bottom: 20px;
	}
	.cartFooter > div:nth-child(2) > table{
		margin-top:20px;
	}
	.cartFooter > div:nth-child(2){
		width:55%;
		float:left;
	}
	.cartFooter > div:nth-child(3){	
		padding:30px 30px;
		border:4px solid black;
		width:35%;
		position: relative;
	}
		
	.cartFooter > div:first-child button{
	    width: 200px;
	    height: 55px;
	    color: white;
	    background: black;
	}
	.cartFooter > div:nth-child(2) table th{
	    color: #333;
	    font-weight: 500;
	    font-size: 16px;
	    vertical-align: middle;
	}
	.cartFooter > div:nth-child(2) table td{
		color:darkslategrey;
		font-size:14px;
	}
	
	.cartFooter > div:nth-child(2) table td input[type="radio"]{
	    width: 14px;
	    height: 14px;
	    vertical-align: middle;
	    margin-right:5px;
	}
	.cartFooter > div:nth-child(2) table th:first-child{
		width:150px;
	}
	.cartFooter > div:nth-child(2) table th:not(:first-child){
		padding-top:12px;
	    color: #333;
	    font-weight: 500;
	}
	.cartFooter > div:nth-child(2) table input[type="text"], 
	.cartFooter > div:nth-child(2) table select{
		color:darkslategrey;
		font-size:14px;
		padding:3px 10px;
		width:450px;
		height:38px;
	}
	.cartFooter > div:nth-child(2) .findAddrBtn{
		width:110px;
		margin-left:5px;
		border: 1px solid #CECECE;
	    height: 39px;
	    background: white;
	    font-size: 14px;
	    padding: 0px 10px;
	}
	.cartFooter > div:nth-child(2) td{
		padding-top:12px;
	}
	.cartFooter .cartAddress div:not(:first-child),
	.cartFooter .cartNeeds div:not(:first-child)
	 {
		margin-top:12px;
	}
	.cartFooter input:read-only{
	    border: 1px solid black;
   		background: lightgrey;
	}
	.required{
	    content: '';
	    display: inline-block;
	    width: 4px;
	    height: 4px;
	    margin-left: 3px;
	    border-radius: 50%;
	    background: #ee1c25;
	    vertical-align: middle;
	}
	.cartFooter > div:nth-child(3) > div:first-child {
		border-bottom:2px solid black;
		padding-top:30px;
		padding-bottom:30px;
	}
	.cartFooter > div:nth-child(3) > div {
		display:flex;
		padding-top:30px;
		justify-content: space-between;
	}
	.cartFooter > div:nth-child(3) > div:not(:first-child) > span:last-child {
		font-family: "gmarket";
		font-size:18px;
	}
	.cartFooter > div:nth-child(3) > div:nth-child(4) {
		border-bottom:1px solid #CECECE;
		padding-bottom:30px;
	}
	.cartFooter > div:nth-child(3) > div:last-child > button {
		width:100%;
		background:black;
		color:white;
		border:none;
		padding:10px 50px;
	}
	.red.won:after{
		color:red;
	}
	.cartFooter > div:nth-child(4){
		margin-top:50px;
		display:inline-block;
		float:left;
		width:55%;
	}
	.cartFooter > div:nth-child(4) > div:first-child{
		margin-top:50px;
		padding-bottom:20px;
		border-bottom:2px solid black;
	}
	.cartFooter > div:nth-child(4) > div:nth-child(2){
		padding:30px 20px; 
	}
	.list-style-none{
	    list-style-type: none;
	    padding: 0px;
	    margin: 0px;
	}
	.cartFooter > div:nth-child(4) > div:nth-child(2) > ul > li{
		margin-top:4px;
		font-weight:800;
		font-size:12px;
		display:inline-block;
		text-align:center;
		line-height: 50px;
	}
	.list-style-none label{
		width:inherit;
		margin:0px;
		border:1px solid darkgrey;
	}
	
	.list-style-none input[type="radio"]:checked + label{
		border:1px solid black;
	}
	.list-style-none li, .list-style-none li label{
		cursor:pointer;
	}
	.cartFooter > div:nth-child(4) > div:nth-child(2) > div:nth-child(2){
	    padding: 20px;
	    font-size: 10px;
	}
	.login, .register{
	    margin: auto;
	    margin-top: 100px;
	    text-align: center;
	    width: 40%;
	}
	.register{
		width:45%;
	}
	.login > h2, .register > h2{
	    margin-bottom: 40px;
	    font-weight: 800;
	    text-align: center;
	}
	.login .btnGroups{
		margin-bottom:30px;
	}
	.login .btnGroups button:first-child{
		cursor:pointer;
	    letter-spacing: -1px;
	    height: 50px;
	    border: none;
	    border-top: 3px solid black;
	    border-right: 3px solid black;
	    border-left: 3px solid black;
	    width: 49%;
	    /* transform: translateX(0px); */
	    background: white;
	}
	.login .btnGroups button:last-child{
	    height: 50px;
	    border: none;
	    border-top: 1px solid grey;
	    padding-top: 5px;
	    border-right: 1px solid grey;
	    border-left: 3px solid black;
	    border-bottom: 3px solid black;
	    width: 49%;
	    transform: translateX(-6px);
	    background: white;
	}
	.login input, .register input:not([type='radio']){
		transform: translateY(10px);
	    margin-bottom: 10px;
	    padding: 10px 20px;
	    width: 100%;
	    height: 44px;
	    /* padding: 0 10px; */
	    border: none;
	    border-bottom: 1px solid grey;
	    font-size: 15px;
	    /* line-height: 43px; */
	}
	.login input:focus, .register input:focus{
		outline:none;
	}
	.login .loginForm a{
		display:inline-block;
		cursor:pointer;
		margin-top:20px;
		font-size:14px;
		letter-spacing: -1px;
		color:grey;
		
	}
	.login .loginForm a:hover{
		color:#BC4747;
		border:none;
		text-decoration: none;
	}
	.login .loginForm p{
		text-align:left;
		color:red;
		letter-spacing: -1px;
		font-size:14px;
	}
	.login .billForm{
		display:none;
	}
	.login .loginForm input:nth-of-type(2),
	.login .billForm input:nth-of-type(2)
	{
	    margin-bottom: 30px;
	}
	.login .loginForm button, .login .billForm button{
		padding:10px;
		width:100%;
		color:white;
		background:black;
		border:none;
		height:50px;
	}
	.register > p {
	    letter-spacing: -1px;
	    color: dimgray;
	    padding-bottom: 20px;
	}
	.register input[name=hp]{
		width:65%;
	}
	.register input[name=hp]{
		width:65%;
	}
	.register #sendSMSBtn{
	    transform: translateY(10px);
	    color: black;
	    width: 34%;
	    border-radius: 0;
	    border: 1px solid black;
	    background: white;
	}
	.register th{
		text-align:left;
		letter-spacing: -1px;
	}
	.register #registerBtn{
		margin-top:50px;
		border-radius: 0;
	    padding: 10px;
	    width: 50%;
	    color: white;
	    background: black;
	    border: none;
	    height: 50px;
	}
	.register .genderDiv{
		transform:translateY(10px);
		padding-left:10px;
	}
	.register > div:nth-of-type(1) {
		border-top:3px solid black;
		margin-top:30px;
		margin-bottom:30px;
				
	}
	.register > div:nth-of-type(3) {
		border-bottom:1px solid grey;
		margin-top:30px;
		margin-bottom:30px;
	}
	.orderWrap{
		margin-top: 100px;
	    margin-left: 200px;
	    margin-right: 200px;
	    text-align:center;
	}
	.orderWrap h2{
	    font-weight: 800;
	    display: inline-block;
	}
	.text-left{
		text-align:left;
	}
	.width-100px{
		width:100px;
	}
	.float-left{
		float:left;
	}
	.dis-inlineblock{
		display:inline-block;
	}
	.font-weight-800{
		font-weight: 800;
	}
	.font-size-14px{
		font-size: 14px;
	}
	.margin-0px{
		margin:0px;
	}
	.margin-left-10px{
		margin-left:10px;
	}
	.height-100px{
		height:100px;
	}
	.text-align-left{
		text-align:left;
	}
	.margin-top-5px{
		margin-top:5px;
	}
	.border-bottom-1px-grey{
		border-bottom:1px solid grey;
	}
	.padding-top-20px{
		padding-top:20px;
	}
	.padding-bottom-20px{
		padding-bottom:20px;
	}
	.height-150px{
		height:150px;
	}
	.width-150px{
		width:150px;
	}
	.text-align-right{
		text-align:right;
	}
	.font-size-18px{
		font-size:18px;
	}
	.margin-bottom-40px{
		margin-bottom:40px;
	}
	.height-50px{
		height:50px;
	}
}