@charset "UTF-8";

	body{
		font-family: 'Noto Sans KR', sans-serif;
	}
	.container-fluid{
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.header{
		width: 100%;
		position: fixed;
		background: white;
		z-index: 99;
	}
	.body{
		padding-top: 130px;
		z-index: 0;
	}
	.hMenuDiv{
		text-align:le;
		margin:auto;
		font-size: 12px;
	}
	.hMenuDiv a{
		margin-left:3px;
		margin-right:3px;
	}
	.hSearchDiv{
		margin-top:25px;
		text-align: center;		
	}
	.hSearchBar{
		border: none;
		width:50%;
		border-bottom: 2px solid black;
		padding: 5px 10px;
		font-size: 15px;
	}
	.hSearchBar:focus{
		outline: none;
	}
	.hSearchBtn{
		background:none;
		border:0px;
	}
	.hCateBar{
		padding-bottom: 10px;
	}
	.hCateBtn {
		background: none;
		border: none;
		margin: 0px 35px;
		padding-bottom: 4px;
	}
	.notice{
		color: red;
	}
	.smallIcon{
		font-size: 15px;
	}
	.middleIcon{
		font-size: 24px;
		color: black;
	}
	.submitIconBtn{
		background: none;
		border: none;

	}
	.hCateBtn:hover{
		padding-bottom: 2px;
		border-bottom: 2px solid red;
	}
	.hCateDiv{
		margin-top:20px;
		padding-top:20px;
		padding-left:200px;
		padding-right:200px;
		padding-bottom:40px;
		display:none;
		font-size: 13px;
		display:none;
		height:400px;
		border-bottom: 1px solid #DFDFDF;
	}
	.hCateInDiv{
		display:block;
		float:left;
		width:15%;
		height:300px;
		padding-left:20px;
		padding-right:20px;
	}
	.hCateInDiv:not(:last-child){
		border-right: 1px solid #DFDFDF;
	}
	.hCateDiv a:hover, .seeMore:hover{
		color:#BC4747;
		text-decoration: none;
	}
	.clear{
		clear:both;
	}
	ul{
   		list-style:none;
   		padding-left:0px;
	}
	.ul li{
		margin-bottom:5px; 
	}
	.slideArrBtn{
		width:50px;
		z-index: 0;
	}
	.seeAll{
		font-size: 18px;
		padding-bottom: 10px; 
	}
	.mainBestBrand, .mainBestSeller, .mainReview{
		text-align:center;
		padding:5%;
	}
	.mainBestBrand p, .mainBestSeller p, .mainReview p{
		font-weight: 800;
		text-align:left;
		font-size:24px;
		margin-bottom: 15px;
	}
	.imgDivWrap{
		margin-top: 20px;
		padding: 20px;
	}
	.imgDiv{
		margin:10px;
		display:inline;
		position:relative;
	}
	.imgDiv div{
		display:inline-block;
	}
	.imgDiv img{
		filter:brightness(50%);
	}
	.imgFont{
		font-size:30px;
		color:white;
		position:absolute;
		text-align: center;
		z-index: 1;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
	.imgsubFont{
		color:white;
		position:absolute;
		text-align: center;
		z-index: 1;
		top:150%;
		left:50%;
		font-size:16px;
		font-weight:400;
		transform: translateX(-50%);
		width:100%;
	}
	.bestSellerWrap{
		text-align: center;
		padding:20xp;
	}
	.bestSellerWrap a:hover{
		text-decoration: none;
		color:black;
	}
	.bestSellerWrap a{
		float:left;
		width:240px;
		height:320px;
		margin:2%;
		color:black;
	}
	@media (max-width:1536px){
	.bestSellerWrap a{
			margin:1%;
		}
	}
	
	.mainProductImage img{
		width:100%;
		height:100%;
	}
	.mainProductText{
		text-align:left;
	}
	.prodName{
		color:grey;
	}
	.prodNormalPrice, .prodSalePrice{
		font-size: 20px;
		font-family: 'Catamaran', sans-serif;
	}
	.saleBanner{
		margin-top: 20px;
	}
	.seeMore{
		font-size: 16px;
	}
	.mainReview{
		background: #EBEBEB;
	}
    .swiper {
    	overflow:visible;
      	width: 100%;
      	height: 400px;
    }
    .swiper-slide {
    	display:inline-block;
      	font-size: 18px;
      	background: white;
      	width:250px !important;
    }
    .swiper-slide img {
      	width: 100%;
      	height: 300px;
    }
