@charset "UTF-8";

	body{
		font-family: 'Noto Sans KR', sans-serif;
	}
	.container-fluid{
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.header{
		width: 100%;
		position: fixed;
		background: white;
		z-index: 1;
	}
	.body{
		padding-top: 130px;
		z-index: 0;
	}
	.hMenuDiv{
		text-align:le;
		margin:auto;
		font-size: 12px;
	}
	.hMenuDiv a{
		margin-left:3px;
		margin-right:3px;
	}
	.hSearchDiv{
		margin-top:25px;
		text-align: center;		
	}
	.hSearchBar{
		border: none;
		width:50%;
		border-bottom: 2px solid black;
		padding: 5px 10px;
		font-size: 15px;
	}
	.hSearchBar:focus{
		outline: none;
	}
	.hSearchBtn{
		background:none;
		border:0px;
	}
	.hCateBar{
		padding-bottom: 10px;
	}
	.hCateBtn {
		border:none;
		margin:0px 35px;
		padding-bottom: 4px;
	}
	.notice{
		color: red;
	}
	.smallIcon{
		font-size: 15px;
	}
	.middleIcon{
		font-size: 24px;
		color: black;
	}
	.submitIconBtn{
		background: none;
		border: none;

	}
	.hCateBtn:hover{
		padding-bottom: 2px;
		border-bottom: 2px solid red;
	}
	.hCateDiv{
		margin-top:20px;
		padding-top:20px;
		padding-left:120px;
		padding-right:120px;
		padding-bottom:40px;
		display:none;
		font-size: 13px;
		box-shadow: 0px 5px 10px grey;
		display:none;
		height:400px;
	}
	.hCateInDiv{
		display:block;
		float:left;
		width:15%;
		height:300px;
		padding-left:20px;
		padding-right:20px;
	}
	.hCateInDiv:not(:last-child){
		border-right: 1px solid #DFDFDF;
	}
	.hCateDiv a:hover{
		color:#BC4747;
		text-decoration: underline;
	}
	.clear{
		clear:both;
	}
	.ul{
   		list-style:none;
   		padding-left:0px;
	}
	.ul li{
		margin-bottom:5px; 
	}
	.slideArrBtn{
		width:50px;
		z-index: 0;
	}
	.seeAll{
		font-size: 18px;
		padding-bottom: 10px; 
	}
