<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nidas.app.payment.mapper.PaymentMapper">

<select id="selectCart" parameterType="String" resultType="com.nidas.app.payment.vo.CartVO">
	select * from cart where id = #{id}
</select>

<insert id="insertCart" parameterType="Map">
    {call
        declare
        begin
            delete from cart where id = #{id};
			<foreach collection="list" item="vo">
            insert into cart(id, serial, shoesize, quantity) values( #{id}, #{vo.serial}, #{vo.shoeSize}, #{vo.quantity});
			</foreach>
        end
    }
</insert>

<delete id="deleteCart" parameterType="String">
	delete from cart where id = #{id}
</delete>

<select id="selectCartProdListByUser" parameterType="Map" resultType="com.nidas.app.product.vo.ProductVO">
	select v.*, shoesize, quantity
	from v_nowonsale v, cart c
	where v.serial = c.serial
	and id = #{id}
	and v.serial
	in
	<foreach collection="list" close=")" open="(" separator="," item="vo">
		#{vo.serial}
	</foreach>
</select>

<select id="selectCartProdListByAnonym" parameterType="list" resultType="com.nidas.app.product.vo.ProductVO">
	select v.*, quantity, shoesize
	from v_nowonsale v,
	(select * from cart where id = ''
	<foreach collection="list" close=")" open="union" separator="union" item="vo">
		select null, #{vo.serial}, #{vo.shoeSize}, to_char(#{vo.quantity}) from cart
	</foreach>
	c
	where v.serial = c.serial
</select>



</mapper>