<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nidas.app.payment.mapper.PaymentMapper">

<select id="selectCart" parameterType="String" resultType="com.nidas.app.payment.vo.CartVO">
	select * from cart where id = #{id}
</select>

<insert id="insertCart" parameterType="Map">
    {call
        declare
        begin
            delete from cart where id = #{id};
			<foreach collection="list" item="vo">
            insert into cart(id, serial, shoesize, quantity) values( #{id}, #{vo.serial}, #{vo.shoeSize}, #{vo.quantity});
			</foreach>
        end
    }
</insert>

<delete id="deleteCart" parameterType="Map">
	delete from cart where id = #{id} and shoeSize = #{vo.shoeSize} and serial = #{vo.serial}
</delete>

<delete id="deleteCartAll" parameterType="String">
	delete from cart where id = #{id}
</delete>

<update id="updateCart" parameterType="Map">
	update cart set quantity = #{vo.quantity} where shoeSize = #{vo.shoeSize} and serial = #{vo.serial}
</update>

<select id="selectCartProdListByUser" parameterType="Map" resultType="com.nidas.app.product.vo.ProductVO">
	select v.*, replace(shoesize, 's', '') as shoesize, quantity
	from v_nowonsale v, cart c
	where v.serial = c.serial
	and id = #{id}
	and v.serial
	in
	<foreach collection="list" close=")" open="(" separator="," item="vo">
		#{vo.serial}
	</foreach>
</select>

<select id="selectCartProdListByAnonym" parameterType="list" resultType="com.nidas.app.product.vo.ProductVO">
	select v.*, quantity, replace(shoesize, 's', '') as shoesize
	from v_nowonsale v,
	(select * from cart where id = ''
	<foreach collection="list" open="union" separator="union" item="vo">
		select null, #{vo.serial}, #{vo.shoeSize}, to_char(#{vo.quantity}) from cart
	</foreach>
	)
	c
	where v.serial = c.serial
</select>


<select id="insertOrders" parameterType="Map" resultType="int">
declare
  seq_val varchar2(30);
begin
  select get_orno_seq('now')
  into seq_val
  from dual;
  <if test='id != ""'>
  insert into orders values(seq_val, #{memNo}, sysdate, 'kakaopay', 'ord0101', #{name}, #{address}, #{tel}, #{needs});
  </if> 
  <if test='id == ""'>
  insert into orders values(seq_val, null, sysdate, 'kakaopay', 'ord0101', #{name}, #{address}, #{tel}, #{needs});
  </if> 
  
  <foreach collection="list" item="vo" index="idx">
  	insert into orders_sub values(seq_val, #{idx}, #{vo.shoeSize}, #{vo.quantity}, #{vo.price}, #{vo.serial});
  </foreach>
end;
</select>

<update id="updateStock" parameterType="Map">
DECLARE BEGIN
	<foreach collection="list" item="vo">
	update stock set ${vo.shoeSize} = ${vo.shoeSize} - #{vo.quantity} where serial = #{vo.serial};
	</foreach>
END;
</update>


<select id="selectOrder" parameterType="Map" resultType="com.nidas.app.payment.vo.OrderVO">

select d.*, c.bnamekor, pnamekor, color, disrate, disprice, filepath
from
  v_nowonsale c,
  (select a.orderno, a.memno, odate, payment, ostatus, name, address, tel, needs, subno, b.serial, shoesize, stocks, b.price
  from
  orders a, orders_sub b
  where a.ORDERNO = b.orderno
  <if test='id==""'>
  and name = #{name} and a.orderNO = #{orderNo}
  </if>
  <if test='id!=""'>
  and memNo = #{memNo}
  </if>
  ) d
where c.serial = d.serial
order by orderno desc, subno

</select>
 
 
<select id="selectOrderLast" resultType="com.nidas.app.payment.vo.OrderVO">

select * from
(select orderNo from orders order by odate desc)
where rownum = 1

</select> 

 
</mapper>