<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nidas.app.payment.mapper.PaymentMapper">

<select id="selectCart" parameterType="String" resultType="com.nidas.app.payment.vo.CartVO">
	select * from cart where id = #{id}
</select>

<insert id="insertCart" parameterType="Map">
    {call
        declare
        begin
            delete from cart where id = #{id};
			<foreach collection="list" item="vo">
            insert into cart(id, serial, shoesize, quantity) values( #{vo.id}, #{vo.serial}, #{vo.shoesize}, #{vo.quantity});
			</foreach>
        end
    }
</insert>

<delete id="deleteCart" parameterType="String">
	delete from cart where id = #{id}
</delete>

<select id="selectCartProdList" parameterType="list" resultType="com.nidas.app.product.vo.ProductVO">
	select *
	from v_nowonsale
	where serial
	in
	<foreach collection="cartSerial" close=")" open="(" separator="," item="serial">
		#{serial}
	</foreach>
</select>

</mapper>